<h1>Listing climates</h1>

<table>
  <thead>
    <tr>
      <th>Temperature</th>
      <th>Pressure</th>
      <th>Humidity</th>
      <th>Temperature min</th>
      <th>Temperature max</th>
      <th>Wind speed</th>
      <th>Wind degrees</th>
      <th>Clouds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @climates.each do |climate| %>
      <tr>
        <td><%= climate.temperature %></td>
        <td><%= climate.pressure %></td>
        <td><%= climate.humidity %></td>
        <td><%= climate.temperature_min %></td>
        <td><%= climate.temperature_max %></td>
        <td><%= climate.wind_speed %></td>
        <td><%= climate.wind_degrees %></td>
        <td><%= climate.clouds %></td>
        <td><%= link_to 'Show', climate %></td>
        <td><%= link_to 'Edit', edit_climate_path(climate) %></td>
        <td><%= link_to 'Destroy', climate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Climate', new_climate_path %>
